/**
 * Bootstrap stylesheets are loaded via webpack.config.js via sass-resources-loader.
 *
 * The following are loaded by default. The others must be added manually.
 *
 * bootstrap/variables
 * bootstrap/mixins
 * bootstrap/normalize
 * bootstrap/print
 * bootstrap/glyphicons
 * bootstrap/scaffolding
 * bootstrap/type
 * bootstrap/code
 * bootstrap/grid
 * bootstrap/tables
 * bootstrap/forms
 * bootstrap/buttons
 */
/**
 * Custom style sheets
 */
body {
  background: #000;
  color: #fff;
}
body p {
  padding: 20px;
  background: #222;
}
body h1, body h2 {
  font-size: 1.2em;
}
body .test-element {
  color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: width 4ms ease-out;
  transition: width 4ms ease-out;
  border: none;
  width: 100%;
  height: 200px;
}
body .image-test {
  background: url(../images/750x480.png);
  width: 750px;
  height: 480px;
}
body footer p {
  color: red;
  backround: black;
}
header {
  background: #555;
}
header span {
  font-weight: bold;
}
