body {
  background: #000;
  color: #fff;
}

body p {
  padding: 20px;
  background: #222;
}

body h1, body h2 {
  font-size: 1.2em;
}

body .test {
  color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: width 4ms ease-out;
  transition: width 4ms ease-out;
  border: none;
}

body footer p {
  color: red;
  backround: black;
}
header {
  background: #555;
}

header span {
  font-weight: bold;
}
